.input-group {
  position: relative;
  width: 100%;
  height: 65px;
  display: flex;
}

input {
  background-color: #4d4f53;
  border: none;
  color: #fff;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  outline: none;
  padding: 0 3.5rem 1.5rem;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

label {
  color: #bababa;
  position: absolute;
  pointer-events: none;
  left: 24px;
  /*50% - la mitad de font-size en este caso 1rem */
  top: calc(50% - 0.5rem);
  transition: var(--main-transition);
  -moz-transition: var(--main);
  -webkit-transition: var(--main);
  -ms-transition: var(--main);
  -o-transition: var(--main);
}

input:focus ~ label,
input:valid ~ label {
  top: 8px;
  font-size: 10px;
}

.input__icon {
  background-color: transparent;
  border: none;
  color: #bababa;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1.5rem;
  /* 50% - la mitad de font-size */
  top: calc(50% - 0.65rem);
}
.input__icon--password {
  cursor: pointer;
}
.input__icon--special path {
  stroke: #bababa;
}

/* Esto cambia el color del autocompletado del navegador
ya que por defecto sale en blanco */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  caret-color: #fff;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #4d4f53 inset;

  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  -moz-transition: background-color 5000s ease-in-out 0s;
  -ms-transition: background-color 5000s ease-in-out 0s;
  -o-transition: background-color 5000s ease-in-out 0s;
}
