.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  min-height: 100vh;
  padding: 1.5rem 1rem;
  margin: auto;
  width: 40%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
@media screen and (max-width: 1600px) {
  .main {
    width: 65%;
  }
}
@media screen and (max-width: 992px) {
  .main {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .main {
    width: 100%;
  }
}

.main-registry-client {
  justify-content: flex-start;
  margin-top: auto;
  margin-left: 12rem;
}
.main-registry-establishment {
  justify-content: flex-start;
  margin-top: auto;
  margin-right: 12rem;
}
@media screen and (max-width: 1200px) {
  .main-registry-client {
    margin-top: auto;
    margin-left: auto;
  }
  .main-registry-establishment {
    margin-top: auto;
    margin-right: auto;
  }
}
