@import './styles/buttons.css';
@import './styles/inputs.css';
@import './styles/links.css';
@import './styles/forms.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #282b33;
  background-image: url(./assets/bg-image.webp);
  background-repeat: no-repeat;
  background-size: cover;
  color: #bababa;
  font-family: 'Montserrat', sans-serif;
}
body::before {
  background: linear-gradient(
    to right,
    #282b33,
    rgba(40, 43, 51, 0.98) 50%,
    rgba(40, 43, 51, 0.88) 80%,
    rgba(40, 43, 51, 0.48)
  );
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
}
